Welcome to myrepper.com.
===============================================
 
You have successfully signed up to myrepper.com,
your username is your email: <%= @user.email %>.
 
To login to the site, just follow this link: <%= @login_url %>.
 
Thanks for joining and have a great day!