#progression.page.color-2
  .inner-page
    .h1.page-headline
      %h1 Coming Soon: You, graphed.
  .row-fluid.inner-page
    .span2
    .span8
      %img{ :src => "assets/design/home.png"}
    .span2