/ Page
#waiver.page.color-4
  .inner-page
    %h2.page-headline Let's chat before we begin
  .row-fluid.inner-page
    .span12
      %ul
        %li
          %p.lead Repper is young!
          %p 
            Repper is in an early stage.  While we grow, the application may be unavailable or you may lose data.  We also don't make any guarantees as far as security goes.  We advise you to 
            %strong use a password not used on other websites.
            These are all things that will be fixed as Repper ages.
        %li
          %p.lead.offset9 Provide lots of feedback
          %p Tell us everything!  Does the weight feel right?  Does a machine not exist at your gym?  Do you wish we had an exercise?  Drop us a line, we want to hear it!
        %li
          %p.lead We aren't your M.D.
          %p We are not doctors.  You should always consult your health professional if you have any health concerns, and prior to using Repper.
        %li
          %p.lead.offset11 Be safe
          %p If you feel any pain while workout out, stop immediately.  It is possible our algorithm estimated your weight wrong.  Or perhaps you are doing the lift with poor form.  Either way, just stop, and let us know.
  .row-fluid.inner-page
    #login.page.color-2
      %h2.page-headline Now, lets get started!
      .offset3.span6
        %p.center Just provide us with a little information.  Please be honest, as it'll help us generate more accurate workouts.
      = render :partial => "form"