.span12
  .span1
  .span8
    .jumbotron
      %h1 
        Lift weights 
        %br with results.
      %p.lead Each day Repper gives you a custom workout to help you build muscle and lose weight.  Repper quickly learns the perfect weight for you to lift, reps, and tracks your progress.
      =link_to "Help us beta test!", waiver_path, :class => "btn btn-large btn-success"



.span12
  .span1
  .span3
    %dl
      %dt Is Repper for me?
      %dd It's built for everyone. It wont help you become the next Terminator. It will help you gain muscle and lose weight.
  .span3
    %dl
      %dt Beat Testers Needed
      %dd Do you have a gym membership?  Some weight training experience?  Help us beta test!
  .span3
    %dl
      %dt What is Repper?
      %dd Repper a weight training and loss web app.  It is designed to follow proven science to help you live a healthier life.
  