/ Home Page
#home.page.color-1
  .inner-page
    %h2.page-headline.large Personalized workouts, just for you
  .row-fluid.inner-page
    /.span8.pull-right.lazy-container
    .span8.pull-right
      /%img.lazy{:alt => "Looks great on every device", "data-original" => "assets/img/home.png", :src => "assets/img/pixel.png"}/
      = image_tag "/assets/img/legos.jpg", { :style => "width: 675px; height: 300px;" }
    .span4.pull-right
      %ul.big-list
        %li
          %i.icon-ok
          Simple workouts
        %li
          %i.icon-tablet
          Mobile
        %li
          %i.icon-cloud
          Cloud storage
        %li
          %i.icon-cog
          Data driven
      %br/
      %a.scroll.btn.btn-centered{:href => "#features", :title => "Check out more freatures!"}
        %i.icon-caret-down
        Scroll Down
/ Sign up
/.sign-up.color-2.visible-desktop
/  .row-fluid.inner-page
/    .span12
/      %h4.pull-left 
/        Try it out free for 14 days. 
/        %strong No credit card  
/        or commitment.
/      %a.scroll.btn.pull-right{:href => "#features", :title => "Check out more freatures!"}
/        %i.icon-caret-down
/        Scroll down
        
/ Features
#features.page.color-3
  .inner-page
    %h2.page-headline Take the guesswork out of exercising
  .inner-page.row-fluid
    %ul.features.list-inline
      %li
        %h3
          %i.icon-heart
          Personalized
        %p Repper is personalized to maxmize your workout.  The more you workout, the more accurate and effective it becomes.
      %li
        %h3
          %i.icon-ok
          For everyone
        %p Whether you want to tone up or bulk up, Repper understand and designs the perfect workout.
      %li
        %h3
          %i.icon-tablet
          For every device.
        %p Repper is compatable with any Internet enable phone, tablet, or computer.  Use it anywhere, anytime.
  .row-fluid.inner-page
    .span6.lazy-container
      %img.figurette.lazy{:alt => "Zombie ipsum", "data-original" => "assets/img/ball.jpg", :src => "assets/img/pixel.png"}/
    .span6
      %h3 Why we're different
      %p.lead Other apps only give you generic workouts. Repper is 100% personalized, meaning we:
      %ul.list-wide
        %li
          %i.icon-check
          Tell you how much weight to lift
        %li
          %i.icon-check
          Tell you how many reps to do
        %li
          %i.icon-check
          Adjust workouts when you get stronger
        %li
          %i.icon-check
          Don't let your muscle catch on
/ /Features
/ Assets page
#price.page.color-3
  .inner-page
    %h2.page-headline One simple price, no contract
  / Vectors
  .row-fluid.inner-page
    .span6
      /%h3 $7.99 per month
      %p.lead For $7.99 a month, you'll get
      %ul
        %li
          %i.icon-play &nbsp; Unlimited workouts
        %li
          %i.icon-play &nbsp; Exercises that tell you the exact weight to use
        %li
          %i.icon-play &nbsp; Instant feedback on your workout
        %li
          %i.icon-play &nbsp; See your strength over time
        %li
          %i.icon-play &nbsp; Access from anywhere
      %p 
        Cancel anymore, no peanlity or contracts.  

      %a.scroll.btn.btn-centered{:href => "/waiver"}
        %i.icon-plus
        Reading to begin?
    .span6.lazy-container
      %img.figurette.lazy{:alt => "Original vectors", "data-original" => "assets/img/responsive-vectors.png", :src => "assets/img/pixel.png"}/
  / /vectors
  %hr/
  / Big laptop
  .row-fluid.inner-page
    .offset1.span10
      .lazy-container.lazy-large.btn-container.loaded
        .btn-container
          %img.figurette.lazy{:alt => "view image in lightbox", "data-original" => "assets/img/laptop-blue@2x.png", :src => "assets/img/laptop-blue@2x.png", :style => "display: inline;"}/