/ Home Page
#home.page.color-1
  .inner-page
    %h2.page-headline.large Personalized workouts, just for you.
  .row-fluid.inner-page
    .span8.pull-right
      %img{:alt => "Looks great on every device", :src => "assets/design/home.png"}/
    .span4.pull-right
      %ul.big-list
        %li
          %i.icon-ok
          Simple workouts
        %li
          %i.icon-tablet
          Mobile friendly
        %li
          %i.icon-calendar
          Track progress
        %li
          %i.icon-road
          Motivating
      %br/
      %a.scroll.btn.btn-centered{:href => "#desc", :title => "Check out more freatures!"}
        %i.icon-caret-down
        Scroll Down
/ Sign up
#about.color-4
  .row-fluid.inner-page
    .span12
      %h2.page-headline For men and women of all skill levels
      /%a.scroll.btn.pull-right{:href => "#features", :title => "Check out more freatures!"}
      /  %i.icon-caret-down
      /  Scroll down
      %br/
      .row
      .offset1.span5
        %p.lead 
          The beginning
        %p Head to your gym and do your first workout.  Repper provides exercises and you report how well you did.
      .offset0.span6
        %img.img-polaroid{:src => "assets/design/1rm.png"}/
      .row
      %br/
      %br/
      .offset1.span5
        %p.lead The journey
        %p Now Repper gives customized workouts: weight, reps, and rest.  Finish a workout and tell Repper how you did.
      .offset0.span6
        %img.img-polaroid{:src => "assets/design/workouts.png"}/
      .row
      %br/
      %br/
      .offset1.span5
        %p.lead The transformation
        %p Repper learns to create perfect workouts for you,  and gives you immediate feedback  showing your strength and health over time!
      .offset0.span6
        %img.img-polaroid{:src => "assets/design/chart.png"}/

.clients.color-1
  .inner-page
    %h2.page-headline Who's using Repper?
  .inner-page.row-fluid
    %ul.clients.list-inline
      %li
        %i.icon-heart &nbsp;Parents
      %li
        %i.icon-star &nbsp;Athletes
      %li
        %i.icon-book &nbsp;Students
      %li
        %i.icon-briefcase &nbsp;Employees
            
/ Features
#features.page.color-3
  .inner-page
    %h2.page-headline Take the guesswork out of exercising
  .inner-page.row-fluid
    %ul.features.list-inline
      %li
        %h3
          %i.icon-user
          Personalized
        %p Repper gives personalized workouts.  The more you work out, the more accurate and effective he becomes.
      %li
        %h3
          %i.icon-tasks
          Detailed
        %p Repper tells you exactly what to do, removing all the guesswork from going to the gym.
      %li
        %h3
          %i.icon-ok
          For everyone
        %p Repper is designed for everyone: men or women, experts or beginners, those looking to lose weight or bulk up.
  .row-fluid.inner-page
    .span6
      %img.figurette{:class => "img-polaroid", :src => "assets/design/ball.png"}/
    .span6
      %h3 Why Repper's different
      %p.lead Other apps only give you generic workouts. Repper is 100% personalized, meaning he'll:
      %ul.list-wide
        %li
          %i.icon-check
          Tell you how much weight to lift
        %li
          %i.icon-check
          Tell you how many reps to do
        %li
          %i.icon-check
          Adjust workouts as you get stronger
        %li
          %i.icon-check
          Prevent your muscles from catching on
/ /Features

/ Assets page
#price.page.color-4
  .inner-page
    %h2.page-headline One simple price, no contract
  / Vectors
  .row-fluid.inner-page
    .span6
      /%p.lead Repper is completely free while in beta.  So you'll get all these perks, at no charge:
      %p.lead Free until October 1st.  Then keep using Repper for $7.99 a month and get these perks:
      /%p.lead For $7.99 a month, Repper will be your friend.  And friendship with him has its perks:
      %ul
        %li
          %i.icon-play &nbsp; Unlimited workouts
        %li
          %i.icon-play &nbsp; Exercises that tell you the exact weight to use
        %li
          %i.icon-play &nbsp; Instant feedback on your workout
        %li
          %i.icon-play &nbsp; Strength improvements over time
        %li
          %i.icon-play &nbsp; Available from anywhere
        /%li
        /  %li.icon-play &nbsp; Helping Repper defeat the evil Stormtrooper army
    .span6
      %img.figurette{:alt => "Original vectors", :src => "assets/design/laptop-legos.png"}/
    .row
    .span7
      %a.scroll.btn.btn-centered{:href => "/signup"}
        %i.icon-plus
        Ready?
      %br/
      %p.center
        Cancel anytime, no penalty, no contracts.


/ How it works
#details.page.color-1
  .inner-page
    %h2.page-headline So how does it work?
    %h3.center It's quite detailed, but here's a summary
  / Vectors
  .row-fluid.inner-page
    .span6
      %p.lead 
        %i.icon-search &nbsp;It's all in the details
      %p Tell Repper some basic details so he can do some complicated math and give you a basic workout he believes you can do.
      %p Repper continues to monitor your performance, providing more customized, accurate, and difficult workouts the more you use it.
      %p.lead 
        %i.icon-eye-open &nbsp;Be a mad scientist
      %p Repper loves test tubes and is always experimenting.  He divides the population and test his theories, evaluating which works.  Through his experiments Repper has found answer to questions like:
      %ul
        %li 
          %i.icon-minus &nbsp; Should you do 8 reps or 12?  
        %li 
          %i.icon-minus &nbsp; Should you rest for one minute or two?  
        %li 
          %i.icon-minus &nbsp; If you want to lose weight, should you bench press?
      %p Repper continually experiments, and then deploys the answers to everyone.
    .span6
      %img.img-polaroid{:src => "assets/design/whiteboard.png", :style => "display: inline;"}/
    .row
    .span8
      %p.lead 
        %i.icon-thumbs-up &nbsp;You're a superhero
        
      %p The more you workout with Repper, the smarter he becomes.  So really when you work out, you're helping strangers.  That makes you a superhero!
      

  / /vectors
  %hr/
  / Big laptop
  .row-fluid.inner-page
    .offset1.span10
      .btn-container.loaded
        .btn-container
          %img.figurette{:alt => "view image in lightbox", :src => "assets/design/laptop-blue@2x.png", :style => "display: inline;"}/