!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Repper - Workouts, designed for you.
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "Twitter bootstrap theme", :name => "description"}/
    %meta{:content => "prettystrap", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,600", :rel => "stylesheet", :type => "text/css"}/
    / Le styles
    %link{:href => "/assets/application.css", :rel => "stylesheet"}/
    /%script{:src => "/assets/application.js", :rel => "javascript"}

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js">
      </script>
    / Le fav
    %link{:href => "/assets/ico/favicon.ico", :rel => "shortcut icon"}/
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='assets/js/jquery-1.9.1.min.js' type='text/javascript'%3E%3C/script%3E"));
      }
    /
      Has to be in head, to lazy load images.
      Minimize in production.
    %script{:src => "/js/lazyload.js"}
    %script{:src => "/js/jRespond.js"}
    %script{:src => "/js/spin.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/lightbox.min.js"}
    %script{:src => "/js/bootstrap.min.js"}
    %script{:src => "/js/responsive-nav.js"}
    / Main js fail.
    %script{:src => "/js/main.js"}
    / History just for index page
    %script{:src => "/js/jquery.history.js"}
    :javascript
      // History, and back button
      
          $(function() {
          jQuery.history.listen()
            $('#nav .nav .scroll').click(function() {
            $.history.push('index.html' + $(this).attr('href')); 
            });
          });
  / activate scrollspy
  %body#top{"data-offset" => "50", "data-spy" => "scroll", "data-target" => ".navbar"}
    / Nav button
    %a#toggle.closed
      %i.icon-reorder
    / Navigation
    %header.navbar.navbar-fixed-top
      .inner-page
        %h1.logo 
          Repper 
          %h1.logo.beta (beta)
        #nav
          %ul.nav
            = render "/layouts/nav"

    = yield
    
    / The footer, social media icons, and copyright
    %footer.page.color-5
      .inner-page.row-fluid
        .span6.social
          %a{:href => "http://twitter.com/repperapp"}
            %i.icon-twitter
        .span6.text-right.copyright
          \&copy; 2013
          repper.com
    